<header class="masthead">
  <div class="logo">Let's</div>
  <h2 class="site-title">get healthy!</h2>
</header>

<figure class="feature">
  <%= image_tag("jogging.jpeg", alt: "A Woman jogging in a park") %>
</figure>

<main id="content" class="main-area">
<section class="splash">
    <div class="splash-content">
      <h2 class="content-title"> Live healthy, live longer!</h2>
      <div class="splash-text">
        <p>
          A recent study found that four bad behaviors - smoking, drinking too 
          much alcohol, not exercising, and not eating enough fruits and 
          veggies - can hustle you into an early grave, and, in effect,
          age you by as many as 12 years.
        </p>

        <p>
          Fortunately, you can do something to correct these and other unhealthy
          behaviors. Adopt the following three habits to keep your body looking 
          and feeling young.
        </p>
      </div> <!-- .splash-text -->
    </div> <!-- .splash-content -->
</section> <!-- .splash -->

<section class="buckets">
    <ul>
      <li>
        <%= image_tag("drink.jpeg", alt: "An Alcoholic drink") %>
        <div class="bucket">
          <h3 class="bucket-title">Drink in Moderation!</h3>
          <p>
              Women who have two or more drinks a day and men who have three or
              more may run into detrimental effects ranging from weight gain to 
              relationship problems. But in smaller quantities, alcohol can 
              actually be good for you.
          </p>
        </div> <!-- .bucket -->
      </li>
      <li>
          <%= image_tag("smoking.jpeg", alt: "Many cigarette, one of them is lit") %>
          <div class="bucket">
            <h3 class="bucket-title">Don’t smoke!</h3>
            <p>
              Quitting smoking is perhaps the single most important thing you 
              can do for your health—and your life span. A study published in 
              the American Journal of Public Health found that women who quit 
              smoking by age 35 add roughly six to eight years to their lives.
            </p>
          </div> <!-- .bucket -->
      </li>
      <li>   
        <%= image_tag("veggies.jpeg", alt: "Many vegetables") %> 
        <div class="bucket">
          <h3 class="bucket-title">Eat fruits and vegetables!</h3>
          <p>
            Getting fewer than three servings of fruits and vegetables a day 
            can eat away at your health. Nutritional powerhouses filled with 
            fiber and vitamins, fruits and veggies can lower your risk of 
            heart disease by 76% and may even play a role in decreasing 
            your risk of breast cancer.
          </p>
        </div> <!-- .bucket -->
      </li>
      <li>   
        <%= image_tag("app.jpeg", alt: "Two 2-kilograms weight and a smartphone") %> 
        <div class="bucket">
          <h3 class="bucket-title">Focus on fitness!</h3>
          <p>
            Daily exercise may be the closest thing we have to a fountain of 
            youth. A 2008 study found that regular high-intensity exercise 
            (such as running) can add up to four years to your life, which isn’t
            surprising given the positive effects working out has on your heart,
            mind, and metabolism.
          </p>
        </div> <!-- .bucket -->
      </li>
    </ul>
  </section> <!-- .buckets -->

  <section class="more">
      <div class="more-content">
        <h2 class="content-title">Our app can help you! and It's FREE!</h2>
        <h3>
          Become a member and keep track of your progress to healthier life
          style, and it costs absolutely nothing! 
          <br>
          YEAH, It is actually free! No jokes, no tricks, no in-app purchases,
          no lootboxes, no p2win features!
        </h3>
      </div> <!-- .more-content -->
  </section> <!-- .more -->

  <section class="twins">
    <div class="twin">
      <h2 class="content-title">See the your progress in graphics</h2>
      <h3>
        The app was designed to help you lose weight has an incredibly set 
        of tools to help you stick to your goals.
      </h3>
    </div> <!-- .twin -->
    <div class="twin">
      <h2 class="content-title">And MANY more tools</h2>
      <h3>
        We will keep constant contact with our member to guarantee they will have
        all tools they might consider useful.
        <br>
        So we plan to launch features in a really contant pace. and we will listen
        to you.
      </h3>
    </div> <!-- .twin -->
  </section> <!-- .twins -->
</main>

<footer class="colophon">
  <aside>Check our twitter: 
      <a href="https://twitter.com/mcloma_oficial/" target="_blank" rel="nof">
        @twitter_handler
      </a>
  </aside>
  <aside>For more information, visit
      <a href="http://bfy.tw/Gnnc" target="_blank" rel="nof">
        our facebook page.
      </a>
  </aside>
</footer>
